:root {
    --algae: #9DE6C7;
    --governer: #292DA3;
    --moon: #CFC0EF;
    --swan: #D8EEEA;
    --astronaut: #264d6c;

}
body {
    

header {    
    background: linear-gradient(rgb(59, 5, 168), rgb(109, 76, 185), rgb(146, 132, 201), rgb(177, 190, 215), rgb(205, 249, 229));

}
h1 {
    width: 100%;
    line-height: 100px;
    
}

header h1 {
    font-size: 50px;
}



header img {
    height: 200px;
}
header nav {
    text-align: right;
    font-size: larger;

    line-height: 100px;
}

header nav ul li {
    display: inline;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    
}

.contacts {
    font-size: x-large;
}

body main div ul {
    text-align: center;
}

body main div ul li {
    display: inline;
    padding: 50px;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: end;
}

main div {
    width: 1450px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px;
}

h2 {
    align-items: start;
}

.first-project {
    width: 94%;
    height: 150px;
}

button {
    height: 100px;
    width: 30%;
    padding: 5px;
    margin: 5px;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
}

main div section {
    width: 50%;
    margin-right: 10px;
}
footer {
    text-align: center;
}

@media  screen and (max-width: 768px) {
    main div {
        max-width: 25%;
    }
}

@media screen and (max-width: 992px) {
    header{
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    main div {
        flex-wrap: wrap;
        width: 50%;
    }

    button {
        width: 25%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

